.footer{background:#000;height: 50px;color: #fff; line-height:50px;text-align: center;}
.footer a{color: #fff;}
blockquote{font-size: 16px;}
.container h2{font-size: 24px;}
.header{text-align: center;}
.laobuluo_paiban{text-align: center;}